.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  font-family: Arial, Helvetica, sans-serif; 
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

.header {
  display: flex;
  justify-content: center;
  align-self: flex-end;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  /* border-style: solid; */
}

.login-form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url("https://swall.teahub.io/photos/small/106-1061930_renaissance-painting-pain.jpg");
  width: 100%;
  height: 100%;
  z-index: 0;
  object-fit: cover;
}

.login-form{
  background:rgba(0,0,0,0.9);
  color: white;
  border-radius: 0.9rem;
  padding: 50px;
}

.submit-button {
  background: rgba(0,0,0,0.9);
  color: white;
  font-size: 20px;
}

h1 {
  margin: 0;
}

.login-h1{
  margin: 15px;
  padding-bottom: 20px;
}

.artpage{
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: 1fr;
  gap: 0px 0px;
  border-style: solid;
}

.semantic-card-list-div{
  grid-area: 1 / 1 / 2 / 2; 
  padding-right: 10px;
}

.favorites-list {
  grid-area: 1 / 2 / 2 / 3;
  border-style: solid;
  border-radius: 15px;
  border-color: gray;
  display: flex;
  justify-content: center;
}

